---
name: Lint Code Base

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8
        env:
          DEFAULT_BRANCH: main
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          VALIDATE_GO: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
